* {
    margin: 0px;
    

}

body {
    background-color: #fdf5e6;
    
    font-family: "Inconsolata", sans-serif;
}

.navbar {
    width: 100%;
    z-index: 1;
    display: flex;
    background-color: black;
    align-items: center;
    height: 10px;
    padding: 20px;
    justify-content: space-around;
    position: fixed;
    top: 0;

    a {
        font-family: "Inter", sans-serif;
        font-optical-sizing: auto;
        font-weight: 600;
        color: white;
        text-decoration: none;

        &:hover {
            color: rgb(153, 114, 42);
        }

    }

}



.top-content {
    position: relative;
}

.top-image {
    background-image: url('images/cafebar2.jpg');
    height: 500px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}

.caffee-name {
    position: absolute;
    top: 50%;
    left: 50%;
    color: rgb(216, 216, 216);
    font-size: 60px;
    transform: translate(-50%, -50%);
    text-align: center;
}

.address,
.opening-hours {
    position: absolute;
    margin: 6px 24px;
    bottom: 0;
    padding: 12px 6px;
    background-color: black;
    color: white;
    font-family: "Inconsolata", monospace;
    font-size: 20px;
}

.address {
    right: 0;
    background: none;
}


.opening-hours {
    left: 0;
}

.section {
    padding: 35px 0 15px 0;
    width: 100%;
}

.section-title {
    margin: 0 auto;
    text-align: center;
    padding: 24px;
}

.section-title-span {
    background-color: black;
    padding: 4px;
    color: white;
    font-size: 18px;
    letter-spacing: 4px;
}


.section-content {
    width: 50%;
    margin: 0 auto;
    padding-top: 24px;
    font-size: 20px;
    font-family: "Inconsolata", sans-serif;
}

.about-content-quote {
    background-color: #f1f1f1;
    border-left: 4px solid rgb(131, 130, 130);
    margin-top: 24px;
    padding: 20px 4px;
    font-family: "Inconsolata", sans-serif;
}

.image-container, .first-image {
    margin-top: 24px;
    overflow: clip;
    width: 100%;

}


.second-image {
    height: 600px;
}

.info {
    margin-top: 24px;
}

.menu-item {
    padding: 20px 5px;
}

.menu-item-title,
.menu-item-description {
    padding: 4px;
}

.menu-container {
    margin-bottom: 24px;
    box-shadow: 2px 5px 0 rgba(0, 0, 0, -0.84), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.location-address {
    /* margin: 24px 0; */
}

.location-map {
    margin: 24px 0;
}

.fyi {
    background-color: black;
    color: white;
    padding: 4px;
}

.form-input {
    padding: 4px;
    height: 30px;
    width: 100%;
    margin-top: 8px;
    border: 1px solid lightgray;
    background-color: #fcf9f3;
}

.submit-form-button {
    color: white;
    background-color: #000000;
    padding: 10px;
    margin-top: 8px;
    border: 0;

    &:hover {
        
        color: bisque;
        transition: ease-in;
        cursor: pointer;
    }
}

.footer{
    background-color: black;
   
    
}

.footer-container{
    padding-top: 10px;
        /* padding: 70px  30px 20px; */
        
}

.socialicons {
    display: flex;
    justify-content: center;
  
}
.socialicons a{
        text-decoration: none;
        padding: 10px;
        background-color: white;
        margin: 10px;
        border-radius: 50%;
}

.socialicons a i{
    font-size: 32px;
    color: black;
    opacity: 0.9;
}

.socialicons a:hover{
    background-color: #111;
    transition: 0.5s;
}

.socialicons a:hover i{
    color: white;
    transition: 0.5s;
}





 .footer-navbar{
    margin: 30px 0;
}

.footer-navbar ul{
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin-right: 50px;
}

.footer-navbar ul li a{
    color: white;
    margin: 20px;
    text-decoration: none;
    font-size: 21px;
    opacity: 0.7;
    transition: 0.5s;
    
}

.footer-navbar ul li a:hover{
    opacity: 1;
}

.footer-bottom {
    background-color: #000;
    padding: 20px;
    text-align: center;   

} 

.footer-bottom p{
    color: white;
}


.footer-bottom{
    text-align: center;
    color: white;
    opacity: 0.7s;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 400;
    margin: 0px 5px;

}

.designer{
    opacity: 0.7s;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 400;
    margin: 0px 5px;
}







/* Per telefon*/
@media screen and (max-width: 768px) {
    .section-content {
        width: 90%;
    }

    .address {
        bottom: 40px;
        left: 0;
    }

    .caffee-name{
        font-size: 50px;
        margin-bottom: 0px;
    }
    .second-image{
        height: 300px;
    }
   
    a{
      margin-right: 30px; 
    }

    .footer-navbar ul{
        flex-direction: column;

    }
    .footer-navbar ul li{
        width: 100%;
        text-align: center;
        margin: 10px;
    }

    .socialicons{
        display: flex;
    }
}

/* Per ipad*/
@media screen and (max-width: 1024px) {

    
}

/* Per desktop*/
@media screen and (max-width: 1200px) {
    .section-content {
        width: 90%;
    }
}